global:
  resolve_timeout: 5m

route:
  group_by: {{ alertmanager.route.group_by }}
  group_wait: {{ alertmanager.route.group_interval }}
  group_interval: {{ alertmanager.route.group_interval }}
  repeat_interval: {{ alertmanager.route.repeat_interval }}
  receiver: {{ alertmanager.receiver_default }}
  routes: {{ alertmanager.route.routes | from_yaml }}

receivers: {{ alertmanager.receivers | from_yaml }}

{#inhibit_rules:#}
{#  - source_match:#}
{#      severity: 'critical'#}
{#    target_match:#}
{#      severity: 'warning'#}
{#    equal: ['alertname', 'dev', 'instance']#}
